@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@

<!-- Section: about -->
<section id="about" class="home-section color-dark bg-white">
    <div class="container marginbot-20">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="animatedParent">
                    <div class="section-heading text-center animated bounceInDown">
                        <h2 class="h-bold">關於</h2>
                        <div class="divider-header"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">


        <div class="row">


            <div class="col-lg-8 col-lg-offset-2 animatedParent">

                @* 介紹 *@

                進口零食讓您在家，瀏覽現今時下最新、最流行的各式零食，不需要花費時間與體力去尋找傳說中的異國美食，輕鬆一鍵便能瀏覽世界各地超夯零食，沒有地區時差的問題，只要簡單步驟就能以優惠的價格獲得品嘗美味零食的幸福！

                @* 介紹結束 *@
                @*<div class="text-center">
                        <p>
                            Lorem ipsum dolor sit amet, vis tale malis tacimates et, graece doctus omnesque ne est, deserunt
                            pertinacia ne nam. Pro eu simul affert referrentur, natum mutat erroribus te his
                        </p>
                        <p>
                            Ne mundi fabulas corrumpit vim, nulla vivendum conceptam eu nam. Ius ex principes complectitur, ex quo
                            duis suscipit. Ius fastidii reprimique no. Sadipscing appellantur pri ad. Oratio moderatius definitiones
                            cum ex, mea ne brute vivendum percipitur.
                        </p>
                        <a href="#service" class="btn btn-skin btn-scroll">What we do</a>
                    </div>*@
            </div>


        </div>
    </div>

</section>
<!-- /Section: about -->
