@{
    ViewBag.Title = "Contact";
}


@*<div class="container marginbot-50 home-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="animatedParent">
                    <div class="section-heading text-center animated bounceInDown">
                        <h2>聯絡人</h2>

                        <div class="divider-header"></div>
                    </div>
                    <address>
                        公司名稱： J.K. SNACKs有限公司<br />
                        服務電話： 03 464 1162<br />
                        商店地址： 326桃園市楊梅區幼獅路二段3號
                    </address>
                </div>
            </div>
        </div>

    </div>*@
<section id="about" class="home-section color-dark bg-white">
    <div class="container marginbot-20">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="animatedParent">
                    <div class="section-heading text-center animated bounceInDown">
                        <h2 class="h-bold">聯絡人</h2>
                        <div class="divider-header"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">


        <div class="row">


            <div class="col-lg-8 col-lg-offset-2 animatedParent">
                <address>
                    公司名稱： J.K. SNACKs有限公司<br />
                    服務電話： 03 464 1162<br />
                    商店地址： 326桃園市楊梅區幼獅路二段3號
                </address>
            </div>


        </div>
    </div>

</section>


@* 20191202新增聯絡資料 *@


@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@
