@{
    ViewBag.Title = "運送方式";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delivery</title>
</head>
<body>
    <!-- Section: delivery -->
    <section id="delivery" class="home-section color-dark bg-white">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="animatedParent">
                        <div class="section-heading text-center animated bounceInDown">
                            <h2 class="h-bold">運送方式</h2>
                            <div class="divider-header"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container">


            <div class="row">


                <div class="col-lg-8 col-lg-offset-2 animatedParent">

                    @* 介紹 *@

                    1.帳款確認後將立即處理您的訂單，您將於七個工作日內(不含週六日及國定例假日)收到訂購之商品。<br>
                    2.以 郵局/便利袋/宅配通/宅急便 寄送商品。<br>
                    3.配送範圍限台灣本島各縣市(不含郵政信箱)。<br>
                    4.如本店無法接受您的訂單，將於收到您的訂單後二個工作日內通知您。但法令另有規定者除外。<br>


                    @* 介紹結束 *@

                </div>


            </div>
        </div>

    </section>
</body>
</html>
