@{
    ViewBag.Title = "會員權益與隱私";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MemberLaw</title>
</head>
<body>
    <!-- Section: law -->
    <section id="law" class="home-section color-dark bg-white">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="animatedParent">
                        <div class="section-heading text-center animated bounceInDown">
                            <h2 class="h-bold">會員權益與隱私</h2>
                            <div class="divider-header"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container">


            <div class="row">


                <div class="col-lg-8 col-lg-offset-2 animatedParent">

                    @* 介紹 *@

                    關於個人資料保護，請會員詳細閱讀以下<br>
                    <br>
                    隱私權聲明<br>
                    為了維護個人隱私權與支持個人資料保護， 謹以下列聲明，向您說明 蒐集個人資料之目的、類別、利用範圍及方式、以及您所得行使之權利等事項； 如果您對於 的隱私權聲明、以下相關告知事項、或與個人資料保護有關之相關事項有任何疑問，可以和 客服中心聯絡，將儘快回覆說明。<br>
                    <br>
                    適用範圍<br>
                    隱私權聲明及其所包含之告知事項，僅適用於 所擁有及經營的網站。 網站內可能包含許多連結、或其他合作夥伴及個別開店店家所提供的商品或服務，關於該等連結網站、合作夥伴網站或個別開店店家之網路店家的隱私權聲明及與個人資料保護有關之告知事項，請參閱各該連結網站、合作夥伴網站或個別開店店家之網路店家。<br>
                    <br>
                    個人資料蒐集之目的與類別<br>
                    為了提供電子商務服務、售後服務、履行法定或合約義務、保護當事人及相關利害關係人之權益、行銷、客戶管理與服務、以及經營合於營業登記項目或組織章程所定之業務等目的，依照各服務之性質，有可能會蒐集您的姓名、連絡方式(包括但不限於電話、E-MAIL及地址等)、為完成收款或付款所需之資料、ＩＰ位址、及其他得以直接或間接識別使用者身分之個人資料。 此外，為提升服務品質，會依照所提供服務之性質，記錄使用者的IP位址、以及在 相關網站或APP內的瀏覽活動(包括但不限於使用者所使用的軟硬體、所點選的網頁、下載的APP)等資料，而且這些資料僅供作流量分析和網路行為調查，以便於改善 相關網站或APP的服務品質，不會和特定個人相連繫。<br>
                    <br>
                    個人資料的利用<br>
                    所蒐集的足以識別使用者身分的個人資料、消費與交易資料，或日後經您同意而提供之其他個人資料，都僅供 於其內部、依照蒐集之目的進行處理和利用、或為完成提供服務或履行合約義務之必要、或依照相關法令規定或有權主管機關（包括但不限於法院或台灣票據交換所）之命令或要求，否則 不會將足以識別使用者身分的個人資料提供給第三人（包括境內及境外）、或移作蒐集目的以外之使用。 會持續保管、處理及利用相關資料。在上開蒐集目的範圍內，本商店會將所蒐集的個人資料，提供予合作廠商（包括但不限提供本服務之91APP、宅配貨運業者或其他）以協助交易完成或終止。若選擇以信用卡方式支付，僅限信用卡持卡人本人使用，且得就此交易資料向發卡銀行、收單行及持卡人照會並確認是否屬實，於核對無誤後付款程序才算完成。依上開蒐集目的所取得的個人資料，可能會傳送至您的國家或地區以外的地方進行保存或處理，且於符合個人資料保護法的情況下才會將您的資訊傳送至境外。<br>
                    <br>
                    資料安全<br>
                    將以合於產業標準之合理技術及程序，維護個人資料之安全。<br>
                    <br>
                    資料當事人之權利<br>
                    資料當事人可以請求查詢、閱覽本人的個人資料或要求給予複本。若您的個人資料有變更、或發現您的個人資料不正確，可以向 要求修改或更正；如您所提供之資料錯誤或缺漏，則不受本隱私權聲明之保護。當蒐集個人資料之目的消失或期限屆滿時，您可要求刪除、停止處理或利用個人資料。但因 執行職務或業務所必須者，不在此限。因應歐盟個人資料保護法規（European Union General Data Protection Regulation, GDPR），歐盟國家使用者將暫停使用 之各服務。若您有任何詢問，請與 客服中心聯絡。<br>
                    <br>
                    Cookie<br>
                    為了便利使用者， 網站可能會讀取儲存在使用者電腦中的cookie資料。使用者可以經由瀏覽器的設定，取消、或限制此項功能，但可能因此無法使用部份網站功能。若您想知道如何取消、或限制此項功能，請與 客服中心聯絡。<br>
                    <br>
                    Google Analyics(分析)廣告功能<br>
                    本服務已安裝 Google Analytics (分析) 廣告功能。本功能僅用於提供 分析廣告投放效益及優化使用流程，如您欲停用 Google Analytics (分析) 廣告功能，建議您可參考Google所提供 不透露資訊的方式以停用該功能。<br>
                    <br>
                    影響<br>
                    若您不願意提供各服務或交易所要求的相關個人資料予 ，並同意 就該等個人資料依法令規定、以及本隱私權聲明及其相關告知內容為相關之個人資料蒐集、處理、利用及國際傳輸， 將尊重您的決定，但依照各該服務之性質或條件，您可能因此無法使用該等服務或完成相關交易， 並保留是否同意提供該等相關服務或完成相關交易之權利。<br>
                    <br>
                    修訂之權利<br>
                    有權隨時修訂本隱私權聲明及相關告知事項，並得於修訂後公佈在 網站，不另行個別通知，您可以隨時在 網站上詳閱修訂後的隱私權聲明及相關告知事項。<br>
                    <br>


                    會員權益聲明<br>
                    親愛的會員您好，非常感謝您使用本商店的服務（以下稱本服務），本商店將根據以下之會員服務條款(以下簡稱本條款)，提供會員便利的交易。為了保障您的權益，請務必詳讀本條款，在您註冊成為本商店會員、或開始使用本服務時，即視為您已經閱讀、瞭解並同意接受本條款及「隱私權保護政策」之所有內容，並視為您已確認詳閱並同意個人資料保護告知暨同意事項。<br>
                    <br>
                    如您不同意本條款之全部或部分內容，請勿註冊，並請立即停止使用本服務。本條款之具體約定內容如後：<br>

                    一、會員資料<br>
                    01._在您使用本服務之前，必須提供正確個人資料，並加入成為本商店會員，無須支付任何費用；在加入完成後，使用本服務及參加與本服務相關之活動。如個人資料有異動，請務必即時更新，以保障您的權益。如因會員未正確更新個人資料，致未能收到本公司寄發之會員權益、消費優惠、活動內容等相關資訊，或變更、終止會員權益、消費優惠、活動內容之通知，會員同意在此情形下，視為會員已經收到該等資訊或通知。<br>
                    <br>
                    02._隱私權保護聲明：會員之個人資料受到本商店隱私權條款之保護與規範。<br>
                    <br>
                    二、服務內容的變更<br>
                    會員同意本商店得隨時調整、變更、修改或終止本服務及本條款，於本商店公告後生效，不再另行個別通知。
                    會員因參與本商店活動及使用本商店服務，而與本商店所發生之權利義務關係，均以本條款最新修訂之版本為準。<br>
                    <br>
                    三、商店個人資料保護告知及暨同意事項：<br>
                    為提供會員最完善的服務，並保護會員個人資料，本商店謹此依個人資料保護法(下稱個資法)規定，告知您如下事項：<br>
                    <br>
                    (一)蒐集之目的、個人資料類別、利用期間、地區、對象及方式<br>
                    為提供會員有關本商店各項消費優惠、商品、服務、活動及最新資訊，並有效管理會員資料、進行服務與調查、滿意度及消費統計分析調查(下稱蒐集目的)，本商店將於上開蒐集目的消失前，在完成上開蒐集目的之必要地區內，蒐集、處理、利用您填載於本商店會員申請之個人資料、消費與交易資料，或日後經您同意而提供之其他個人資料。在上開蒐集目的範圍內，本商店可能會將您全部或部分個人資料，提供予合作廠商。(合作廠商包括但不限提供本服務之91APP)。
                    <br>
                    例：當會員使用本服務進行線上消費，本公司需透過宅配貨運等合作廠商，方能完成貨品或相關贈品之配送，故當會員完成線上交易，即表示會員同意並授權本公司得將會員提供之個人資料(如收件人姓名、配送地址、電話…等)提供予宅配及貨運合作廠商，以利完成貨品或相關贈品之配送。
                    <br>
                    (二)注意事項：<br>
                    您同意以電子文件作為行使個資法書面同意之方式。如您不同意提供個人資料，或要求刪除或停止蒐集、處理您的個人資料，您瞭解本商店可能因此無法進行網路會員資格審核及相關處理作業，或提供您完善的網路服務，尚請見諒。
                    <br>

                    @* 介紹結束 *@

                </div>


            </div>
        </div>

    </section>
</body>
</html>
