@{
    ViewBag.Title = "退換貨說明";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Returns</title>
</head>
<body>
    <!-- Section: returns -->
    <section id="returns" class="home-section color-dark bg-white">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="animatedParent">
                        <div class="section-heading text-center animated bounceInDown">
                            <h2 class="h-bold">退換貨說明</h2>
                            <div class="divider-header"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container">


            <div class="row">


                <div class="col-lg-8 col-lg-offset-2 animatedParent">

                    @* 介紹 *@

                    一、商品退換貨須知<br>
                    請於收到包裹三天內來電或來信與客服告知，超過七日以上恕不受理。<br>
                    依105年1月1日開始施行的「通訊交易解除權合理例外情事適用準則」之規定，所販賣之商品因屬點心零食類，為易於腐敗、保存期限較短或解約時即將逾期之商品，故排除消費者保護法第十九條第一項解除權之適用。<br>
                    商品依法令規定，原則上都不適用七日鑑賞期規定，而不能退貨喔！在此先行告知各位消費者，下標前請特別留意。<br>
                    <br>
                    二、瑕疵品替換、退貨、退款注意事項
                    所有商品在出貨前，會經由品管人員檢查並完整包裝後，交由宅配業者負責運送。如果商品有瑕疵，買家仍可退換貨，依照消費者保護法規定，若您收到商品時發現有任何的瑕疵。<br>
                    例如：包裝受損、內容物受潮、內容物溢出或破損、過期等商品欠缺一般品質的情形，請一定要於收到貨品的七日內，與我們客服人員聯絡要求退換貨。<br>
                    請將該商品包裝完整退回(產品包裝完善：包含原先商品外包裝紙盒(袋子)、贈品、發票、等)，並隨貨附上您完整的退款帳號，資料越齊全將優先處理。<br>
                    <br>
                    三、正常品的替換、退款需自行負擔運費
                    若商品為正常品而無瑕疵，但買家不滿意，如買錯商品/買了之後沒有用/不好吃.....等等原因，需由買家負擔來回運費，於收到包裹三天內來電或來信與客服告知，超過七日以上恕不受理。<br>
                    請將該商品包裝完整退回(產品包裝完善：包含原先商品外包裝紙盒(袋子)、贈品、發票、等)，並隨貨附上您完整的退款帳號，資料越齊全將優先處理。正常品退款，將退還該商品當初購買的價格。<br>
                    不包含運費，請再留意。正常品要換貨，來回郵資皆由買家負擔，再請將商品包裝完善寄回(請內附運費$65元或轉帳至以下資訊)，於包裹內填上換貨原因及重新寄送之地址，資料越齊全會越快幫您處理。<br>

                    @* 介紹結束 *@

                </div>


            </div>
        </div>

    </section>
</body>
</html>
